<div class="downdiv">
    <figure class="text-left" style="font-size: xx-large;">
        <blockquote class="blockquote">
            <h2 style="width: 400px; margin-left: 100px; text-align: center;"> The Sparks Foundation GRIP <br> Banking System <br>
                woooHHoooo</h2>
        </blockquote>
        <figcaption class="blockquote-footer" style="width: 400px; margin-left: 100px;">
            created by manoj kumar
        </figcaption>
    </figure>
    <a href="https://www.linkedin.com/in/manoj-kumar-739671170/">Im Linkedin</a>
    <a href="https://github.com/i-manoj/Basic-Banking-System">My Github</a>
</div>