<!-- navbar -->
<div class="toolbar" role="banner" style="position: sticky;">
    <img width="40" alt="Bank Logo" src="assets\smily.png" />
    <h3><strong>My Bank</strong></h3>
    <div class="spacer"></div>
    <h5><a routerLink="/home" style="color: white; text-decoration: none;">Home &nbsp; &nbsp;</a>
    </h5>
    <!-- <h5><a routerLink="/myaccount" style="color: white; text-decoration: none;">Tran. History &nbsp; &nbsp;</a>
    </h5> -->
    <h5><a routerLink="/view-customer" style="color: white; text-decoration: none;">View all Customers &nbsp; &nbsp;</a>
    </h5>
    <h5>About &nbsp;</h5>
</div>